.App {
  width: 450px;
  min-height: 450px;
  text-align: center;
  border-style: solid;
  display: inline-block;
}

.App2 {
  margin-top: 80%;
}

.circle {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 50%;
  background-color: black;

}

div.topleft {
	position: absolute;
	top: 10%;
	left: 10%;
}

div.bottomright {
	position: absolute;
	top: 70%;
	left: 70%;
}


div.middle {
	position: absolute;
	top: 40%;
	left: 40%;
}

div.topright {
	position: absolute;
	top: 10%;
	left: 70%;
}

div.bottomleft {
	position: absolute;
	top: 70%;
	left: 10%;
}

div.middleleft {
	position: absolute;
	top: 40%;
	left: 10%;
}

div.middleright {
	position: absolute;
	top: 40%;
	left: 70%;
}

div.TileLine:hover {
  display: inline-block;
  background-color: #E1E1E1;
  border-radius: 5px;
}

div.TileLine {
  display: inline-block;
}

.TileLine_in_board {
  display: block;
  margin-left: 100px;
}

.Tile {
  width: 50px;
  height: 50px;
  border-color: black;
  border-style: solid;
  border-width: 0.5px;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.3s;
}



.TopTile {
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 5px;
}

.BottomTile {
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 5px;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
